@charset "UTF-8";
@font-face { font-family:"Segoe UI";font-variant:normal;font-style:normal;font-weight:bold;src:url("#FontID0") format(svg)}
.fil1 {fill:white}
.fil2 {fill:#25D366;fill-rule:nonzero}
.fil0 {fill:#E1306C;fill-rule:nonzero}
.fnt1 {font-weight:bold;font-size:776.11px;font-family:'Segoe UI'}
.fnt0 {font-weight:bold;font-size:798.84px;font-family:'Segoe UI'}
